@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  margin: 0;
}

@import '@material/theme/color-palette';

$mdc-theme-primary: $material-color-indigo-700;
$mdc-theme-secondary: $material-color-pink-a400;

@import '../src/sass/index';
