body {
  margin: 0;
}

@import '@material/theme/color-palette';

$mdc-theme-primary: $material-color-light-green-600;
$mdc-theme-secondary: $material-color-deep-orange-a200;

@import '../src/sass/svmd';